:root{
    --yellow: rgba(245, 176, 64, 1);
    --blue: #2898FF;

}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
body{
    position: relative;
}
.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

}
.container {
    width: 85%;
    max-width: 1920px;
    margin: 0 auto;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link {
    padding: 12px 0;
}
.favorite {
}
.header__img {
}
.add,
.favorite{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__city {
    opacity: 0.5;
}
.main .container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.acide {
    width: 30%;
}
.logo {
    display: flex;
    align-items: center;
    gap: 20px;

}
.logo__img{

}
.logo__text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.4rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}
.categories__acide {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main__link {
    font-size: 1.3rem;
}
.article {
    width: 68%;
}
.article__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article__input__search {
    padding: 10px 15px;
    border-radius: 4px;
    width: 60%;
    border: 1px solid #000;
}
.article__select {
    border: none;
}
.article__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yellow);
    color: #fff;
    padding: 10px;
    width: 25%;
    border: none;
    border-radius: 4px;
}
.tov_section{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-top: 20px;
}
.tov {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}
.tov__img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 4px;
}
.tov__head {
    font-size: 1.3rem;
    margin-top: 15px;
}
.tov__price {
    margin-top: 10px;
}
.tov__sity {
    margin-top: 5px;
}


.login__popup,
.register__popup {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.login__block {
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 40%;
}
.login__title {
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}
.form {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 20px;
}
.form__input,
.form__submit,
.form__textarea,
.form__select{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    font-size: 0.9rem;
}
.input__wrapper {
    width: 100%;
    position: relative;
    color: #fff;
    text-align: center;
}
.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.input__file-button-text{
    color: #fff;
}
.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}
.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}
.input__file-button {
    width: 100%;
    height: 60px;
    background: var(--blue);
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}
.form__textarea{
    resize: vertical;
}
.form__submit {
    background: var(--yellow);
    font-size: 1.2rem;
    color: #fff;
}

.form__href {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    background: transparent;
    color:var(--blue);
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    transition: .5s;
}
.form__href:hover{
    color: #fff;
    background: var(--blue);
}
.login__close,
.register__close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.login__close:hover,
.register__close:hover{
    cursor: pointer;
}
.product__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.product__block {
    width: 70%;
}
.product__img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.product__title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.product__name {
    font-size: 600;
    font-size: 2vw;
}
.product__date {
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;

}
.product__decription,
.product__location {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.product__span{
    width: 30%;
    font-size: 1.2vw;

}
.product__text{
    width: 70%;
    font-size: 1.3vw;
    font-size: 1.4vw;
}
.contact__block {
    width: 25%;
}
.product__price {
    font-weight: 600;
    font-size: 2vw;
    margin-bottom: 20px;
}
.show__number, 
.send__message {
    background: var(--yellow);
    border: var(--yellow);
border-radius: 4px;
width: 100%;
padding: 10px;
color: #fff;
outline:none;
margin-top: 20px;
}
.salesmam__block {
    margin-top: 40px;display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 5%; 
    grid-template-areas: 
      "salesman__img salesman__name"
      "salesman__img salesman__date"
      "salesman__img salesman__review"; 
  }
  .salesman__img { grid-area: salesman__img; width: 100%;

}
  .salesman__name { grid-area: salesman__name; 

    font-size: 1.4vw;}
  .salesman__date { grid-area: salesman__date; 
font-size: 1vw;}
  .salesman__review { grid-area: salesman__review; }
  .error_text{
    margin-top: 40px;
    text-align: center;
    font-size: 2rem;
  }
  .error_text a{
    color: #f00;
  }
  .error_text a:hover{
    text-decoration: underline;
  }
  